# https://travis-ci.org/HearthSim/python-hsreplay
sudo: false
language: python
python: "3.6"

env:
  - TOXENV=py27
  - TOXENV=py36
  - TOXENV=flake8

cache:
  directories:
    - $HOME/.cache/pip
    - $TRAVIS_BUILD_DIR/python/.tox

install:
  - pip install tox

script:
  - tox -c "$TRAVIS_BUILD_DIR/python/tox.ini"

notifications:
  email:
    on_failure: always
    on_success: change
  irc:
    channels:
      - "chat.freenode.net#hearthsim-commits"
    use_notice: true
    skip_join: true
    on_failure: always
    on_success: change
    template:
      - "(%{branch} @ %{commit} : %{author}): %{message} %{build_url}"
